/* liens */

.lien
{
	text-decoration: none;
	font-family: 'Righteous', cursive;
	color: #f5d928;
}
.lienp
{
	text-decoration: none;
	font-family: 'Dancing Script', cursive;
	color: black;

}
.liend
{
	text-decoration: none;
	font-family: 'Lobster Two', cursive;
}
.chic
{
	background: linear-gradient(to right,#c6730a,#6013b8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.chic2
{
	color: #c6730a;
}
.lient
{
	text-decoration: none;
	font-family: 'Parisienne', cursive;
}
.delice
{
	background: linear-gradient(to right,#181fb9,#29c0e5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.delice2
{
	color: #29c0e5;
}
.lienq
{
	text-decoration: none;
	font-family: 'Satisfy', cursive;
}
.palette
{
	background: linear-gradient(to right,#226c1f,#69fb62);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.palette2
{
	color: #6bc483;
}

/* blocs */

#head
{
	text-align: center;
	background-color: #61b98d;
	color: #f5d928;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#menus
{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 13%;
}
.menus1
{
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-left: 2%;
	margin-right: 2%;
}
.menus2
{
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-left: 2%;
	margin-right: 2%;
}
.carte
{
	box-shadow: 1px 1px 6px lightgrey;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10%;
	font-size: small;
}
.carte1
{
	background-color: #f1b4b4;
	box-shadow: 1px 1px 6px lightgrey;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10%;
	font-size: small;
}
.carte2
{
	background-color: #fdf4fe;
	box-shadow: 1px 1px 6px lightgrey;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10%;
	font-size: small;
}
.fa-music
{
	color: tomato;
	font-size: 2rem;
}
#bouton
{
	background-color: #61b98d;
	color: #f5d928;
	border-radius: 5%;
	margin: auto;
	width: 170px;
	margin-bottom: 12%;
	text-align: center;
	margin-top: 3%;
}
#foot
{
	display: flex;
	justify-content: space-between;
	background-color: #61b98d;
	color: #f5d928;
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
}
h4
{
	font-size: larger;
}
h3
{
	font-size: x-large;
}
h5
{
	font-size: x-large;
}
.footg
{
	margin-left: 2%;
}
.footd
{
	margin-right: 2%;
}
.pro
{
	font-family: 'Righteous', cursive;
	font-size: 23px;
}

/* Animation */

.zoom {
    transition: transform 1.30s; 
}
.zoom:hover {
    transform: scale(1.4);
}
.wiggle:hover { 
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}
@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 

    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 

    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 

    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
} 
.charg {
  	font-size: 23px;
  	font-family: 'Righteous', cursive;
}

.charg:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 1400ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/* telephones et tablettes */

@media(max-width: 767px)
{
#menus
{
	margin-top: 32%;
	flex-direction: column;
}
.menus1
{
	width: auto;
}
.menus2
{
	width: auto;
}
#bouton
{
	margin-bottom: 35%;
}
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait)
{
#menus
{
	margin-top: 20%;
}
.menus1
{
	width: 40%;
}
.menus2
{
	width: 40%;
}
#bouton
{
	margin-bottom: 18%;
}