#head
{
	text-align: center;
	background-color: #61b98d;
	color: #f5d928;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#foot
{
	display: flex;
	justify-content: space-between;
	background-color: #61b98d;
	color: #f5d928;
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
}
h4
{
	font-size: larger;
}

.lien
{
	text-decoration: none;
	font-family: 'Righteous', cursive;
	color: #f5d928;
}
.footg
{
	margin-left: 2%;
}
.footd
{
	margin-right: 2%;
}
.ml
{
	margin-top: 12%;
	margin-bottom: 12%;
}

/* animations */

.wiggle:hover { 
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}
@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 

    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 

    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 

    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
} 

@media(max-width: 767px)
{
.ml
{
	margin-top: 35%;
	margin-bottom: 35%;
}
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait)
{
.ml
{
	
	margin-top: 20%;
	margin-bottom: 20%;
}
}
@media(min-width: 1900px)
{
body
{
	width: 60%;
	margin: auto;
}
}