body
{
	font-family: 'Satisfy', cursive;
}
#head
{
	text-align: center;
	background-color: #61b98d;
	color: #f5d928;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#bloc
{
	width: 70%;
	display: flex;
	flex-direction: column;
	margin-left: 15%;
	margin-bottom: 15%;
	margin-top: 10%;
}
.titre
{
	text-align: center;
	margin-top: 5%;
}
h3
{
	font-size: 4rem;
	background: linear-gradient(to right,#226c1f,#69fb62);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h4
{
	font-size: larger;
}


h5
{
	font-size: larger;
}
.soustitre
{
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%
}
.desc
{
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%
}
.trait
{
	border-top: 2px solid #69fb62;
	width: 18%;
	margin-top: 2em;
}
.lien
{
	text-decoration: none;
	font-family: 'Righteous', cursive;
	color: #f5d928;
}
.lienf
{
	text-decoration: none;
	color: #f5d928;
}
#foot
{
	display: flex;
	justify-content: space-between;
	background-color: #61b98d;
	color: #f5d928;
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
}
.footg
{
	margin-left: 2%;
}
.footd
{
	margin-right: 2%;
}

/* animations */ 

h4 {
        display: inline;
        position: relative;   
}
h4:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}
    h4:hover:after {
        width: 100%;
    }
.wiggle:hover { 
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}
@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 

    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 

    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 

    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
} 